@import "~materialize-css/dist/css/materialize.min.css";

.link-nav {
    margin-bottom: 50px;
}

.cursor-pointer {
    cursor: pointer;
}

.journal__wrapper {
    border: 2px solid #000000;
    border-radius: 2px;
    height: 500px;
    padding: 2px 0;
    overflow: auto
}

.journal__title {
    border-bottom:  2px solid #000000;
    padding:  0 5px 10px;
    width: 100%;
}

.popup {
    position: absolute;
    height: 100vh;
    width: 98vw;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}

.active-input {
    position: relative;
    z-index: 1;
    background-color: white !important;
    border-radius: 10px !important;
}